.App {
  position: absolute;
  transform: translate(+25%, 0%);
  font-size: 24px;
  text-align: center;
}

.prettyTable {
  display: table-cell;
}

button {
  background-color: navajowhite;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}
